{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    />
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" />

    <!------------------LIght BOx for Gallery-------------->
    <link rel="stylesheet" href="lightbox.min.css" />
    <script
      type="text/javascript"
      src="{% static 'js/lightbox-plus-jquery.min.js' %}"
    ></script>
    <!------------------LIght BOx for Gallery-------------->
    <title> Outlook </title>
  </head>
  <body>
    <!-------------------------------NAvigation Starts------------------>

    <nav
      class="navbar navbar-expand-md navbar-dark mb-4"
      style="background-color: #3097d1"
    >
      <a href="/" class="navbar-brand"
        ><img
          src="{% static 'images/brand-white.png' %}"
          alt="logo"
          class="img-fluid"
          width="80px"
          height="100px"
      /></a>

      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#responsive"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="responsive">
        <ul class="navbar-nav mr-auto text-capitalize">
          <li class="nav-item"><a href="/" class="nav-link active">home</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link active"> Logout </a></li>
          <li class="nav-item"><a href="/settings" class="nav-link active"> Settings </a></li>
        </ul>

        <h5 class="d-none d-md-block mt-2" style="color: white;"> {{first_name}}, </h5>
        <a
          href="notification.html"
          class="text-decoration-none"
          style="color: #cbe4f2; font-size: 22px"
          ><i class="far fa-bell ml-3 d-none d-md-block"></i></a>

        <img
          src="{{profile.profile_pic.url}}"
          alt=""
          class="rounded-circle ml-3 d-none d-md-block"
          width="32px"
          height="32px"
        />
      </div>
    </nav>

    <!---------------------------------------------Ends navigation------------------------------>

    <!-------------------------------------------Start body --------------------------------->

    <div class="container">
      <div class="row">
        <!--------------------------left columns  start-->

        <div class="col-12 col-lg-3">
          <div class="left-column">
            <div class="card card-left1 mb-4">
              <img
                src="{% static 'images/photo-1455448972184-de647495d428.jpg' %}"
                alt=""
                class="card-img-top img-fluid"
              />
              <div class="card-body text-center">
                <img
                  src="{{profile.profile_pic.url}}"
                  alt="img"
                  width="120px"
                  height="120px"
                  class="rounded-circle mt-n5"
                />
                <h5 class="card-title mt-3"> {{user.first_name }} {{user.last_name}}</h5>
                <p class="card-text text-justify mb-2">
                  {{  profile.bio }}
                </p>
                <ul class="list-unstyled nav justify-content-center">
                  <a href="#" class="text-dark text-decoration-none">
                    <li class="nav-item">
                      Followers <br />
                      <strong>12M</strong>
                    </li></a>
                  <a href="#" class="text-dark text-decoration-none mx-3">
                    <li class="nav-item">
                      Posts <br />
                      <strong>1</strong>
                    </li></a>
                </ul>
              </div>
            </div>

            <div class="card shadow-sm card-left2 mb-4">
              <div class="card-body">
                <h5 class="mb-3 card-title">
                  About <small><a href="#" class="ml-1">Edit</a></small>
                </h5>

                <p class="card-text">
                  <i class="fas fa-calendar-week mr-2"></i> Went to
                  <a href="#" class="text-decoration-none">oh canada</a>
                </p>

                <p class="card-text">
                  <i class="fas fa-user-friends mr-2"></i> Become a friend with
                  <a href="#" class="text-decoration-none">obama</a>
                </p>
                <p class="card-text">
                  <i class="far fa-building mr-2"></i> Work at
                  <a href="#" class="text-decoration-none">Github</a>
                </p>
                <p class="card-text">
                  <i class="fas fa-home mr-2"></i> Live in
                  <a href="#" class="text-decoration-none">San francisco</a>
                </p>
                <p class="card-text">
                  <i class="fas fa-map-marker mr-2"></i> From
                  <a href="#" class="text-decoration-none">Seattle, WA</a>
                </p>
              </div>
            </div>

            <div class="card shadow-sm card-left3 mb-4">
              <div class="card-body">
                <h5 class="card-title">
                  Photos<small class="ml-2"><a href="#">.Edit </a></small>
                </h5>

                <div class="row">
                  <div class="col-6 p-1">
                    <a href="{% static 'images/left1.jpg' %}" data-lightbox="id"
                      ><img
                        src="{% static 'images/left1.jpg' %}"
                        alt="img"
                        class="img-fluid my-2"
                    /></a>
                    <a href="{% static 'images/left2.jpg' %}" data-lightbox="id"
                      ><img
                        src="{% static 'images/left2.jpg' %}"
                        alt="img"
                        class="img-fluid my-2"
                    /></a>
                    <a href="{% static 'images/left3.jpg' %}" data-lightbox="id"
                      ><img
                        src="{% static 'images/left3.jpg' %}"
                        alt="img"
                        class="img-fluid my-2"
                    /></a>
                  </div>

                  <div class="col-6 p-1">
                    <a href="{% static 'images/left4.jpg' %}" data-lightbox="id"
                      ><img
                        src="{% static 'images/left4.jpg' %}"
                        alt="img"
                        class="img-fluid my-2"
                    /></a>
                    <a href="{% static 'images/left5.jpg' %}" data-lightbox="id"
                      ><img
                        src="{% static 'images/left5.jpg' %}"
                        alt="img"
                        class="img-fluid my-2"
                    /></a>
                    <a href="{% static 'images/left6.jpg' %}" data-lightbox="id"
                      ><img
                        src="{% static 'images/left6.jpg' %}"
                        alt="img"
                        class="img-fluid my-2"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--------------------------Ends Left columns-->



        <!---------------------------------------Middle columns  start---------------->
                    
            <div class="col-12 col-lg-6" >
                <div class="middle-column">


                    <div class="card" >


                        <div class="card-header bg-transparent">
                            <form class="form-inline">


                                <div class="input-group w-100">
                                 <input type="text" name="message" id="message" placeholder="Message" class="form-control form-control-md">

                                 <div class="input-group-append">
                                        <div class="input-group-text">
                                                <i class="fas fa-camera"></i>
                                            </div>
                                 </div>
                                </div>
                            </form>
                        </div>






                           
                        <div class="card-body">
                        </div>

                        <hr>
                        
                        <div class="card-body">
                        </div>

                        <hr>

                        <div class="card-body">
                        </div>


                    </div>

                </div>
            </div>
        
        <!------------------------Middle column Ends---------------->




        <!---------------------------Statrs Right Columns----------------->

            <div class="col-12 col-lg-3">


                <div class="right-column">

                    <!-- <div class="card shadow-sm mb-4" >
                        <div class="card-body">
                            <h6 class="card-title">Sponsored</h6>
                            <img src="{% static 'images/right1.jpg' %}" alt="card-img" class="card-img mb-3">
                            <p class="card-text text-justify"> <span class="h6">It might be time to visit Iceland.</span> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice.  What are you waiting for?</p>
                            <a href="#" class="btn btn-outline-info card-link btn-sm">Buy a ticket</a>


                        </div>

                    </div> -->


                    <div class="card shadow-sm mb-4">

                        <div class="card-body">

                                <h6 class="card-title ">Likes <a href="#" class="ml-1"><small>.View All</small> </a> </h6>
                                <div class="row no-gutters d-none d-lg-flex">
                                    <div class="col-6 p-1">
                                            <img src="{% static 'images/avatar-dhg.png' %}" alt="img" width="80px" height="80px" class="rounded-circle mb-4">
                                            <img src="{% static 'images/avatar-fat.jpg' %}" alt="img" width="80px" height="80px" class="rounded-circle">



                                    </div>
                                    <div class="col-6 p-1 text-left">
                                        <h6>Jacob Thornton @fat</h6>
                                        <a href="#" class="btn btn-outline-info btn-sm mb-3"><i class="fas fa-user-friends"></i>Follow </a>

                                        <h6>Mark otto</h6>
                                        <a href="#" class="btn btn-outline-info  btn-sm"><i class="fas fa-user-friends"></i>Follow </a>

                                    </div>

                                </div>

                        </div>

                        <div class="card-footer">

                            <p class="lead" style="font-size:18px;">Dave really likes these nerds, no one knows why though.</p>
                        </div>
                        


                    </div>

                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p>&copy; 2018 Bootstrap



                                    <a href="#">About</a>
                                    <a href="#">Help</a>
                                    <a href="#">Terms</a>
                                    <a href="#">Privacy</a>
                                    <a href="#">Cookies</a>
                                    <a href="#">Ads </a>
                                    <a href="#">Info</a>
                                    <a href="#">Brand</a>
                                    <a href="#">Blog</a>
                                    <a href="#">Status</a>
                                    <a href="#">Apps</a>
                                    <a href="#">Jobs</a>
                                    <a href="#">Advertise</a>
                                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            </p>
                        </div>

                    </div>

                </div>

            </div>
        <!---------------------------Right Columns Ends----------------->
        
      </div>
    </div>

    <!------------------------Light BOx OPtions------------->
    <script>
      lightbox.option({});
    </script>

    <!------------------------Light BOx OPtions------------->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
